
@media screen and (max-width:600px) {
    /* Nav styles starts here */
    .hide{
        display: none;
    }
    
    nav {
        flex-direction: column;
        padding: 10px;
        margin-top: 15px;
        margin: 0 20px;
        position: relative;
        

    }


    .fa-sliders {
        position: absolute;
        right: 0;
        top: 40%;
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        gap: 12px;
        display: none;
    }

    .name-logo {
        justify-content: center;
        align-items: center;
    }

    .name-logo h1 {
        font-size: 30px;
        width: 100%;
    }

    .fa-solid {
        text-align: right;
    }

    /* Nav styles ends here */
    /* Explore your travel starts here */
    .explore-tour-travel {
        margin: 20px;
        padding: 10px;
    }

    .explore-content h1 {
        color: #FFF;
        font-size: 26px;
        font-weight: 800;
        padding-top: 15px;
    }

    .tour-selector-container {
        flex-direction: column;
        padding: 10px;
        margin: 10px;

    }

    .tour-selector-container>* {
        width: 255px;
        height: 52px;
    }

    #input-where-go,
    #country-selector,
    #type-selector::placeholder {
        width: 100%;
        height: 50px;
    }

    #type-selector {
        width: 100%;
        height: 50px;
    }

    .find-now-btn {
        width: 100%;
    }

    /* Explore your travel ends here */
    /* Popular tours styles starts here */
    .popular-tours {
        flex-direction: column;
        margin: 10px;
        padding: 10px;

    }

    .popular-tours .popular-img-content img {
        max-width: 335px;
        max-height: 342px;
        margin-top: 5px;
    }

    .popular-tours-content h1 {
        font-size: 24px;
    }

    .popular-tours-content p {
        font-size: 14px;
    }

    .popular-tour-btn {
        margin-bottom: 5px;
    }

    /* Popular tours styles ends here */
    /* choose-destination styles starts here */
    .choose-destination {

        margin: 10px;
        padding: 10px;

    }

    .grid-container {
        margin-left: 0;
        padding: 15px;
    }

    .choose-destination-content h1 {
        font-size: 20px;
    }

    .choose-destination-content p {
        font-size: 14px;

    }

    .grid-container div img {
        width: 100%;

    }

    .img-3 {
        height: 75%;
    }

    .img-5 {
        width: 100%;

    }

    .img-7 h3 {
        left: 32%;
    }

    .choose-dest-title {
        margin-top: 24px;
    }


    /* choose-destination styles ends here */
    /* Why choose us starts here */
    .why-choose-us {
        margin: 10px;
        padding: 10px;
    }

    .why-choose-us-content h3 {
        font-size: 24px;
    }

    .why-choose-us-content p {
        font-size: 14px;
        max-width: 315px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .why-choose-us-container {
        flex-direction: column;
        gap: 16px;
    }

    .why-choose-us-container>div h3 {
        padding-bottom: 16px;
    }

    /* Why choose us ends here */
    /* Deals and Discounts starts here */
    .deals-discounts {
        margin: 10px;
        padding: 10px;
        margin-top: 24px;
    }

    .deals-discounts-content h3 {
        font-size: 20px;
    }

    .deals-discounts-content p {
        font-size: 16px;
    }

    .deals-card-1 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;



    }



    .deals-card-2 img {
        max-width: 335px;
        max-height: 500px;
        width: 100%;
        height: 100%;
    }

    .deals-card-3 img {
        max-width: 335px;
        max-height: 500px;
        width: 100%;
        height: 100%;
    }

    .deals-card-2 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;


    }

    .deals-card-3 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

    }

    .tour-card-1 {
        width: 50%;
        top: 10px;
        bottom: 10px;
        padding: 0;
        margin: 0;
    }

    .card-top-container {
        flex-direction: column;
        gap: 5px;

    }


    .tour-card-1 .card-top-container>div>img {
        width: 24px;
        height: 24px;

    }

    .tour-card-1 .tour-card-title {
        margin: 0;
        padding: 0;
        font-size: 18px;

    }

    .tour-card-1 .tour-card-description {
        font-size: 12px;
    }

    .tour-card-1 {
        width: 303px;
        height: 360px;
        padding: 10px;
        top: 25%;
        right: 15%;
        left: 20%;
        transform: translate(-13%);

    }

    .deals-card-3 {
        position: relative;
    }



    .card-top-container {
        flex-direction: column;
        gap: 5px;

    }


    .tour-card-3 .card-top-container>div>img {
        width: 24px;
        height: 24px;

    }

    .tour-card-3 .tour-card-title {
        margin: 0;
        padding: 0;
        font-size: 18px;

    }

    .tour-card-3 .tour-card-description {
        font-size: 12px;
    }

    .tour-card-3 {
        width: 303px;
        height: 360px;
        padding: 10px;
        top: -60%;
        right: 15%;
        left: 15%;
        transform: translate(-13%);

    }





    .deals-card-1 img {
        width: 335px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 10px;
    }

    .deals-card-3 img {
        width: 335px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 10px;
    }

    .tour-card-2 .card-top-container>div>img {
        width: 24px;
        height: 24px;

    }

    .tour-card-2 .tour-card-title {
        margin: 0;
        padding: 0;
        font-size: 18px;

    }

    .tour-card-2 .tour-card-description {
        font-size: 12px;
    }

    .tour-card-2 {
        width: 303px;
        height: 360px;
        padding: 10px;
        top: 25%;
        right: 15%;
        left: 15%;
        transform: translate(-13%);

    }

    .deals-card-2 img {
        width: 335px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 10px;
    }

    .see-all-progress {
        margin-bottom: 20px;
    }

    .deals-card-1 {
        max-width: 372px;
        width: 100%;
    }

    .card3 {
        height: 360px;
    }

    .see-all-progress {
        margin-top: 20px;
    }

    .tour-card-2 {
        left: 20%;

    }

    .tour-card-3 {
        width: 303px;
        height: 360px;
        padding: 10px;
        top: 22%;
        right: 2.5%;
        left: 20%;
        transform: translate(-13%);

    }

    .deals-card-1 {
        max-width: 372px;
    }

    .deals-card-1 img {
        max-width: 372px;
        width: 100%;
    }

    .deals-card-2 {
        max-width: 372px;
    }

    .deals-card-2 img {
        max-width: 372px;
        width: 100%;
    }

    .deals-card-3 img {
        max-width: 372px;
        width: 100%;
    }

    /* Deals and Discounts ends here */
    /* A simple perfect place starts here */
    .a-simple-perfect-place {
        margin: 10px;
        padding: 10px;
        flex-direction: column;
        width: 97%;
    }

    .simple-perfect-place-content h3 {
        font-size: 20px;
        /* padding-bottom: 5px; */
    }

    .simple-perfect-place-content p {
        font-size: 14px;

        padding: 10px 0;
        width: 335px;

    }

    .simple-perfect-place-content ul li {
        font-size: 14px;
    }

    .video-content {
        max-width: 400px;
        max-height: 300px;
    }

    .video-content #video {
        width: 350px;
        height: 200px;
        outline: none;

    }

    /* A simple perfect place ends here */
    /* Newsletter section styles starts here */
    .news-letter {
        margin: 5px;
        padding: 8px;
        flex-direction: column;
        gap: 15px;
        width: 97%;
        overflow-x: hidden;
    }

    .news-letter-contents {
        max-width: 360px;
        width: 100%;
        height: 50%;
        padding-top: 24px;
    }

    .news-letter-content-title {
        font-size: 20px;

    }

    .news-letter-description {
        font-size: 14px;
        max-width: 280px;
    }

    .news-letter-img-content img {
        max-width: 360px;
        max-height: 300px;
        width: 100%;
        height: 90%;
        display: block;
        /* margin: 0 auto; */
        margin-bottom: 10px;
    }

    .news-letter-offer {
        width: 214.023px;
        height: 79.268px;
        top: 48%;
        left: 38%;
        margin: 0;
        padding: 0;
    }
    .news-letter-offer p{
        font-size: 15px;
        position: relative;
        left: -30%;
        top: -20%;
        padding: 0;
        

    }
    .news-letter-offer h3{
        font-size: 20px;
        position: relative;
        top: -30%;
        padding: 0;
    }
    .news-letter-img{
        padding: 0;
        margin: 0;
    }
    

    /* Newsletter section styles ends here */
    /* Brands styles starts here */
    /* Brands styles starts here */
    .brands{
        margin: 0;
        padding: 0;
    }
    .brands h3{
        font-size: 20px;
    }
    .brands .ambassadors{
        font-size: 20px;
    }
    /* Footer styles ends here */
    .footer{
        padding: 10px;
        margin: 10px;
    }
    .footer-last{
        padding-top: 10px;
        padding-bottom: 15px;
    }

    /* Footer styles ends here */
    /* Helping find styles starts here */
    .helping-find{
        flex-direction: column;
        margin: 15px;
        padding: 10px;
    }
    .helping-hand-img-content{
        margin: 0 auto;
        max-width: 400px;
        width: 70%;
    }
    .helping-find-content{
        padding: 10px;
        margin: 10px;
    }
    .helping-hand-underline{
        padding: 0;
        margin: 0;
        width: 100%;
        margin: 10px 0;
    }
    /* Helping find styles ends here */
    /* footer styles starts here  */
    .footer-underline{
        width: 100%;
    }
    /* footer styles ends here  */
    
}



@media screen and (min-width:600px) {
    .slider {
        display: none;
    }
}
